<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.lims.mapper.LimsiSrollMainMapper">
    
    <resultMap type="LimsiSrollMain" id="LimsiSrollMainResult">
        <result property="sid"    column="sid"    />
        <result property="sampleId"    column="sample_id"    />
        <result property="sampleName"    column="sample_name"    />
        <result property="sampleType"    column="sample_type"    />
        <result property="sampleNumber"    column="sample_number"    />
        <result property="sampleUser"    column="sample_user"    />
        <result property="sampleTime"    column="sample_time"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectLimsiSrollMainVo">
        select sid, sample_id, sample_name, sample_type, sample_number, sample_user, sample_time, state, create_by, create_time, update_by, update_time, remark from limsi_sroll_main
    </sql>

    <select id="selectLimsiSrollMainList" parameterType="LimsiSrollMain" resultMap="LimsiSrollMainResult">
        <include refid="selectLimsiSrollMainVo"/>
        <where>  
            <if test="sampleId != null  and sampleId != ''"> and sample_id = #{sampleId}</if>
            <if test="sampleName != null  and sampleName != ''"> and sample_name like concat('%', #{sampleName}, '%')</if>
            <if test="sampleType != null  and sampleType != ''"> and sample_type = #{sampleType}</if>
            <if test="sampleNumber != null "> and sample_number = #{sampleNumber}</if>
            <if test="sampleUser != null  and sampleUser != ''"> and sample_user = #{sampleUser}</if>
            <if test="sampleTime != null "> and sample_time = #{sampleTime}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
        </where>
    </select>
    
    <select id="selectLimsiSrollMainBySid" parameterType="Long" resultMap="LimsiSrollMainResult">
        <include refid="selectLimsiSrollMainVo"/>
        where sid = #{sid}
    </select>
        
    <insert id="insertLimsiSrollMain" parameterType="LimsiSrollMain" useGeneratedKeys="true" keyProperty="sid">
        insert into limsi_sroll_main
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sampleId != null">sample_id,</if>
            <if test="sampleName != null">sample_name,</if>
            <if test="sampleType != null">sample_type,</if>
            <if test="sampleNumber != null">sample_number,</if>
            <if test="sampleUser != null">sample_user,</if>
            <if test="sampleTime != null">sample_time,</if>
            <if test="state != null">state,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sampleId != null">#{sampleId},</if>
            <if test="sampleName != null">#{sampleName},</if>
            <if test="sampleType != null">#{sampleType},</if>
            <if test="sampleNumber != null">#{sampleNumber},</if>
            <if test="sampleUser != null">#{sampleUser},</if>
            <if test="sampleTime != null">#{sampleTime},</if>
            <if test="state != null">#{state},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateLimsiSrollMain" parameterType="LimsiSrollMain">
        update limsi_sroll_main
        <trim prefix="SET" suffixOverrides=",">
            <if test="sampleId != null">sample_id = #{sampleId},</if>
            <if test="sampleName != null">sample_name = #{sampleName},</if>
            <if test="sampleType != null">sample_type = #{sampleType},</if>
            <if test="sampleNumber != null">sample_number = #{sampleNumber},</if>
            <if test="sampleUser != null">sample_user = #{sampleUser},</if>
            <if test="sampleTime != null">sample_time = #{sampleTime},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where sid = #{sid}
    </update>

    <delete id="deleteLimsiSrollMainBySid" parameterType="Long">
        delete from limsi_sroll_main where sid = #{sid}
    </delete>

    <delete id="deleteLimsiSrollMainBySids" parameterType="String">
        delete from limsi_sroll_main where sid in 
        <foreach item="sid" collection="array" open="(" separator="," close=")">
            #{sid}
        </foreach>
    </delete>
</mapper>